<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="services.component.css">
    <title>Service</title>
</head>
<body>
    <app-nav></app-nav>
<div class="flip-card-container" style="--hue: 220">
    <div class="flip-card">
      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img src="../../../assets/images service/Menuiserie.jpg"alt="Carpentry">
          <figcaption>Carpentry</figcaption>
        </figure>
        <ul>
          <li>Meuble</li>
          <li>Reparation</li>
          <li>Element</li>
          <li>Décoration</li>
        </ul>
      </div>
      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
          <img src="../../../assets/images service/menuiserieback.jpg" alt="Brohm Lake">
        </figure>
  
        <button>Choose</button>
  
        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
        </div>
      </div>
  
    </div>
  </div>
  <!-- /flip-card-container -->
  
  <!-- flip-card-container -->
  <div class="flip-card-container" style="--hue: 170">
    <div class="flip-card">
  
      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img src="../../../assets/images service/electricité.jpg" alt="Image 2">
          <figcaption>Electricity</figcaption>
        </figure>
  
        <ul>
          <li>General Electricity</li>
          <li>Reparation</li>
          <li>Installation</li>
          <li>Controle</li>
        </ul>
      </div>
  
      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
          <img src="../../../assets/images service/electricité back.jpg" alt="image-2">
        </figure>
  
        <button>Choose</button>
  
        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
        </div>
      </div>
  
    </div>
  </div>
  <!-- /flip-card-container -->
  
  <!-- flip-card-container -->
  <div class="flip-card-container" style="--hue: 350">
    <div class="flip-card">
  
      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img src="../../../assets/images service/cuisinefront.webp" alt="Brohm Lake">
          <figcaption>Cooking</figcaption>
        </figure>
  
        <ul>
          <li>Restauration</li>
          <li>Caterer</li>
          <li>Delivery</li>
          <li>Fast Food</li>
        </ul>
      </div>
  
      <div class="card-back">
        <!-- only if the image is necessary -->
        <figure>
          <div class="img-bg"></div>
          <img src="../../../assets/images service/cuisineback.jpg" alt="Brohm Lake">
        </figure>
  
        <button>Choose</button>
  
        <!-- can add svg here and remove these eight spans -->
        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
        </div>
      </div>
  
    </div>
</div>
<div class="flip-card-container" style="--hue: 220">
    <div class="flip-card">
      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img src="../../../assets/images service/mecanique2.jpg" alt="Brohm Lake">
          <figcaption>Mechanical</figcaption>
        </figure>
        <ul>
          <li>Cars reparation</li>
          <li>Cars control</li>
          <li>Modification</li>
          <li>Oil change</li>
        </ul>
      </div>
  
      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
          <img src="../../../assets/images service/mecaniqueback2.jpg " alt="Brohm Lake">
        </figure>
  
        <button>Choose</button>
  
        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
        </div>
      </div>
  
    </div>
</div>
<div class="flip-card-container" style="--hue: 220">
    <div class="flip-card">
      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img src="../../../assets/images service/plomberie1.jpg" alt="Brohm Lake">
          <figcaption>Plumbing</figcaption>
        </figure>
        <ul>
          <li>Installation</li>
          <li>Assembly</li>
          <li>Reparation</li>
          <li>Adjustement</li>
        </ul>
      </div>
  
      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
          <img src="../../../assets/images service/plomberieback2.jpg" alt="Brohm Lake">
        </figure>
  
        <button>Choose</button>
  
        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
        </div>
      </div>
  
    </div>
</div>
<div class="flip-card-container" style="--hue: 220">
    <div class="flip-card">
      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img src="../../../assets/images service/Sante.jpg" alt="Brohm Lake">
          <figcaption>Health</figcaption>
        </figure>
        <ul>
          <li>Doctors</li>
          <li>Nurse</li>
          <li>Health care</li>
          <li>Home assistance</li>
        </ul>
      </div>
  
      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
          <img src="../../../assets/images service/santeback.jpeg" alt="Brohm Lake">
        </figure>
  
        <button>Choose</button>
  
        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
        </div>
      </div>
  
    </div>
</div>
</body>
</html>
