<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar 12</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="nav.component.css" />
  </head>
  <body>
    <nav class="navbar fixed-top">
      <div class="logo">
        <img src="../../../assets/logofinal.png"   />

      </div>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline" style="color: #0E46A3; " type="submit">Search</button>
      </form>
      <div class="links">
        <a href="#">home</a>
        <a href="#">contact us </a>
        <div class="dropdown">
      
         
        </div>
        <a href="#" class="join-link" routerLink="/login"> log in/sign up</a>
        
      </div>
    </nav>
  </body>
</html>

