<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les gouvernorats</title>
    <link rel="stylesheet" href="cities.component.css">
</head>
<body>

    <main>
        <div class="card" >
            <img src="../../../assets/images/Bizertekasba2.jpg"  class="image">
            <img src="../../../assets/imagesbizertebackground2.jpg" class="background">
            <div class="layer">
                <div class="info">
                    <a class="cityname"routerLink="/services"  >Bizerte</a>
                    <p>Discover the services in our city</p>
                </div>
            </div>
        </div>
        <div class="card" >
            <img src="../../../assets/images/ezzaitouna.jpg" class="image"  >
            <img src="../../../assets/images/ezzaitouna.jpg" class="background">
            <div class="layer">
                <div class="info">
                    <a class="cityname" routerLink="/services"  >Tunis</a>
                    <p>Discover the services in our city</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/images/sousse.jpg" class="image">
            <img src="../../../assets/images/sousse.jpg" class="background">
            <div class="layer">
                <div class="info">
                    <a class="cityname" routerLink="/services"  >Sousse</a>
                    <p>Discover the services in our city</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/images/Mahdia.jpg" class="image">
            <img src="../../../assets/images/Mahdia.jpg" class="background">
            <div class="layer">
                <div class="info">
                    <a class="cityname" routerLink="/services"  >Mahdia </a>
                    <p>Discover the services in our city</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/images/Sfax.jpg" class="image">
            <img src="../../../assets/images/Sfax.jpg" class="background">
            <div class="layer">
                <div class="info">
                    <a class="cityname" routerLink="/services"  >Sfax</a>
                    <p>Discover the services in our city</p>
                </div>
            </div>
        </div>
    </main>

</body>
</html>
